<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
</div>

<div *ngIf="orderSent" class="m-2 text-center">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button class="btn btn-primary" routerLink="/store">Return to Store</button>
</div>
<form
  *ngIf="!orderSent"
  (ngSubmit)="submitOrder(form)"
  class="m-2"
  novalidate
  #form="ngForm"
>
  <div class="form-group">
    <label>Name</label>
    <input
      class="form-control"
      name="name"
      required
      [(ngModel)]="order.name"
      #name="ngModel"
    />
    <span *ngIf="submitted && name.invalid" class="text-danger">
      Please enter an name
    </span>
  </div>
  <div class="form-group">
    <label>Address</label>
    <input
      class="form-control"
      name="address"
      required
      minlength="3"
      maxlength="7"
      [(ngModel)]="order.address"
      #address="ngModel"
    />
    <span
      *ngIf="
        submitted &&
        address.errors?.['required'] &&
        (address.dirty || address.touched)
      "
      class="text-danger"
    >
      Please enter some address
    </span>

    <span
      *ngIf="submitted && address.errors?.['minlength']"
      class="text-danger"
    >
      Please enter 3 characters
    </span>

    <span
      *ngIf="submitted && address.errors?.['maxlength']"
      class="text-danger"
    >
      Please enter a maximum of 7 characters
    </span>
  </div>
  <div class="form-group">
    <label>City</label>
    <input
      class="form-control"
      name="city"
      required
      [(ngModel)]="order.city"
      #city="ngModel"
    />
    <span *ngIf="submitted && city.invalid" class="text-danger">
      Please enter an city
    </span>
  </div>
  <div class="form-group">
    <label>State</label>
    <input
      class="form-control"
      name="state"
      required
      [(ngModel)]="order.state"
      #state="ngModel"
    />
    <span *ngIf="submitted && state.invalid" class="text-danger">
      Please enter an state
    </span>
  </div>
  <div class="form-group">
    <label>Zip/Postal Code</label>
    <input
      class="form-control"
      name="zip"
      required
      [(ngModel)]="order.zip"
      #zip="ngModel"
    />
    <span *ngIf="submitted && zip.invalid" class="text-danger">
      Please enter an zip
    </span>
  </div>
  <div class="form-group">
    <label>Country</label>
    <input
      class="form-control"
      name="country"
      required
      [(ngModel)]="order.country"
      #country="ngModel"
    />
    <span *ngIf="submitted && country.invalid" class="text-danger">
      Please enter an country
    </span>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
    <button class="btn btn-primary m-1" type="submit">Complete Order</button>
  </div>
</form>
